<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Tabla usuarios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/producto/tabla.css}">
</head>
<body>
	<header th:include="fragments/header.html"/>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
				
					<a th:href="@{/usuario/nuevo_usuario}" class="btn btn-info btn-lg">Añadir</a>
					
					<table class="h4 table table-hover user-list">
						<thead>
							<tr>
								<th><span>Usuario</span></th>
								<th><span>Nombre</span></th>
								<th><span>Primer apellido</span></th>
								<th><span>Segundo apellido</span></th>
								<th><span>Dirección</span></th>
								<th><span>Localidad</span></th>
								<th><span>Provincia</span></th>
								<th><span>Teléfono</span></th>
								<th><span>DNI</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<tr th:each="usuario : ${listaUsuarios}">
								<td>
									<img th:src="@{img/usuario/default.png}" alt="">
									<a href="" class="user-link" th:text="${usuario.email}"></a>
									<div th:each="rol : ${listaRoles}">
										<span th:if="${usuario.idRol == rol.id}" class="user-subhead"  th:text="${rol.rol}"></span>
									</div>
									
								</td>
								<td>
									<span th:text="${usuario.nombre}"></span>
								</td>
								<td class="text-center">
									<span th:text="${usuario.apellido1}"></span>
								</td>
								<td class="text-center">
									<span th:text="${usuario.apellido2}"></span>
								</td>
								<td class="text-center">
									<span th:text="${usuario.direccion}"></span>
								</td>
								<td>
									<span th:text="${usuario.localidad}"></span>
								</td>
								<td>
									<span th:text="${usuario.provincia}"></span>
								</td>
								<td>
									<span th:text="${usuario.telefono}"></span>
								</td>
								<td>
									<span th:text="${usuario.dni}"></span>
								</td>
								<td style="width: 10%;">
									<a th:href="@{/usuario/editar_usuario/{id} (id=${usuario.id})}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									
									<a th:if="${session.usuario.idRol == 1} AND ${usuario.idRol == 3}" th:href="@{/usuario/borrar_cliente/{id} (id=${usuario.id})}" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a th:if="${session.usuario.idRol == 1} AND ${usuario.idRol == 2}" th:href="@{/usuario/borrar_empleado/{id} (id=${usuario.id})}" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<i th:if="${session.usuario.id != usuario.id}">
										<a th:if="${session.usuario.idRol == 1} AND ${usuario.idRol == 1}" th:href="@{/usuario/borrar_admin/{id} (id=${usuario.id})}" class="table-link danger">
											<span class="fa-stack">
												<i class="fa fa-square fa-stack-2x"></i>
												<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
											</span>
										</a>
									</i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination pagination-lg pull-right pager" id="myPager"></ul>
			</div>
		</div>
	</div>
	</div>
	<footer th:include="fragments/footer.html"></footer>
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- 	SCRIPT DE PAGINACION -->
	<script th:src="@{/js/producto/paginacion.js}">
		
	</script>
</body>
</html>