<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com    @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Detalles pedido</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{margin-top:20px;
background:#eee;
}

.invoice {
    padding: 30px;
}

.invoice h2 {
	margin-top: 0px;
	line-height: 0.8em;
}

.invoice .small {
	font-weight: 300;
}

.invoice hr {
	margin-top: 10px;
	border-color: #ddd;
}

.invoice .table tr.line {
	border-bottom: 1px solid #ccc;
}

.invoice .table td {
	border: none;
}

.invoice .identity {
	margin-top: 10px;
	font-size: 1.1em;
	font-weight: 300;
}

.invoice .identity strong {
	font-weight: 600;
}


.grid {
    position: relative;
	width: 100%;
	background: #fff;
	color: #666666;
	border-radius: 2px;
	margin-bottom: 25px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
}

    </style>
</head>
<body>
	<header th:include="fragments/header.html"></header>
	<div class="h4 container">
	<div class="row">
	    				<!-- BEGIN INVOICE -->
						<div class="col-xs-12">
							<div class="grid invoice">
								<div class="grid-body">
									<div class="invoice-title">
										<br>
										<div class="row">
											<div class="col-xs-12">
												<h2>Pedido<br>
												<span class="small" th:text="${pedido.id}"></span></h2>
											</div>
										</div>
									</div>
									<hr>
									<div class="row">
										<div class="col-xs-6">
											<address>
												<strong th:text="${usuario.email}">Billed To:</strong><br>
												<span class="small" th:text="${usuario.nombre} + ' ' + ${usuario.apellido1} + ' ' + ${usuario.apellido2}"></span>
											</address>
										</div>
									</div>
									<div class="row">
									
										<div class="col-xs-2">
											<address>
												<strong>Fecha pedido:</strong><br>
												<span th:text="${pedido.fecha}"></span>
											</address>
										</div>
										<div class="col-xs-6">
											<address>
												<strong>Metodo de pago:</strong><br>
												<span th:text="${pedido.metodoPago}"></span>
												<br><br><br><br>
											</address>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-12 text-right">
										<address>
											<strong>Estado:</strong><br>
											<span th:text="${pedido.estado}"></span>
											<br><br>
											<div th:if="${pedido.estado == 'enviado'}">
												<strong>Nº Factura:</strong><br>
												<span th:text="${pedido.numFactura}"></span>
											</div>
										</address>
										</div>
									</div>
									
									<div class="row">
										<div class="col-md-12">
											<h3>DETALLES PEDIDO</h3>
											<table class="table table-striped">
												<thead>
													<tr class="line">
														<td class="text-center"><strong>PRODUCTO</strong></td>
														<td class="text-center"><strong>CANTIDAD</strong></td>
														<td class="text-right"><strong>PRECIO (€)</strong></td>
														<td class="text-right"><strong>SUBTOTAL (€)</strong></td>
													</tr>
												</thead>
												<tbody>
													<tr th:each="detalle : ${detallesPedido}">
														
														<div th:each="producto : ${listaProductos}">
															<td th:if="${detalle.idProducto == producto.id}"><strong><span th:text="${producto.nombre}">Template Design</span></strong>
															<br><span class="small" th:text="${producto.descripcion}"></span>
														</div>
														<td class="text-center" th:text="${detalle.unidades}">15</td>
														<td class="text-right" th:text="${detalle.precioUnidad}">$75</td>
														<td class="text-right" th:text="${detalle.total}">$1,125.00</td>
													</tr>
													<tr>
														<td colspan="2">
														</td><td class="text-right"><strong>Total</strong></td>
														<td class="text-right"><strong><span th:text="${pedido.total}"></span>€</strong></td>
													</tr>
												</tbody>
											</table>
										</div>									
									</div>
								</div>
							</div>
						</div>
						<!-- END -->
					</div>
	</div>
	
	<footer th:include="fragments/footer.html"></footer>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>