<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
	<title>Tabla categorias</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/producto/tabla.css}">
</head>
<body>
	<header th:include="fragments/header.html"></header>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="main-box clearfix">
				<div class="table-responsive">
				
					<a th:href="@{/proveedor/nuevo}" class="btn btn-info btn-lg">Añadir</a>
					
					<table class="h4 table table-hover user-list">
						<thead>
							<tr>
								<th><span>CIF</span></th>
								<th><span>Nombre</span></th>
								<th><span>Dirección</span></th>
								<th><span>Localidad</span></th>
								<th><span>Provincia</span></th>
								<th><span>Teléfono</span></th>
								<th><span>Email</span></th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<tr th:each="proveedor : ${listaProveedores}">
								<td>
									<a th:text="${proveedor.cif}"></a>
								</td>
								<td>
									<a th:text="${proveedor.nombre}"></a>
								</td>
								<td>
									<span th:text="${proveedor.direccion}"></span>
								</td>
								<td>
									<span th:text="${proveedor.localidad}"></span>
								</td>
								<td>
									<span th:text="${proveedor.provincia}"></span>
								</td>
								<td>
									<span th:text="${proveedor.telefono}"></span>
								</td>
								<td>
									<span th:text="${proveedor.email}"></span>
								</td>
								
								<td style="width: 10%;">
									<a th:href="@{/proveedor/editar/{id} (id=${proveedor.id})}" class="table-link">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
										</span>
									</a>
									<a th:href="@{/proveedor/borrar/{id} (id=${proveedor.id})}" class="table-link danger">
										<span class="fa-stack">
											<i class="fa fa-square fa-stack-2x"></i>
											<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
										</span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<ul class="pagination pagination-lg pull-right pager" id="myPager"></ul>
			</div>
		</div>
	</div>
	</div>
	<footer th:include="fragments/footer.html"></footer>
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- 	SCRIPT DE PAGINACION -->
	<script th:src="@{/js/tabla/paginacion.js}">
		
	</script>
</body>
</html>