<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	body{
background:#ddd;
}
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
    </style>
</head>
<body>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<div class="container">
    	<br/>
		<div class="row justify-content-center">
			<div class="col-12 col-md-10 col-lg-8">
			    <form class="card card-sm" th:action="@{/}" method="get">
			        <div class="card-body row no-gutters align-items-center">
			            <div class="col-auto">
			                <select class="h5" name="valor">
			                	<option value="nombre">Nombre</option>
			                	<option value="precio-mayor-que">Precio mayor a</option>
			                	<option value="precio-menor-que">Precio menor a</option>
			                </select>
			            </div>
			            <!--end of col-->
			            <div class="col">
			                <input name="buscar" class="form-control form-control-lg form-control-borderless" type="search" placeholder="Buscar productos...">
			            </div>
			            <!--end of col-->
			            <div class="col-auto">
			                <button class="btn btn-lg btn-info" type="submit">Buscar</button>
			            </div>
			            <!--end of col-->
			        </div>
			    </form>
			</div>
			<!--end of col-->
            </div>
	</div>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
</html>