<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" th:href="@{/css/footer.css}">

</head>
<body>
	<!-- Footer -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Nombre tienda</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Quienes somos</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Trabaja con nosotros</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Nuestra tiendas</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Ayuda</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Devoluciones</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Envios</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Preguntas frecuentes</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Contacta con nosotros</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Información legal</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Condiciones de uso</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Política de protección de datos</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Política de devoluciones</a></li>
						<li><a href="javascript:void();"><i
								class="fa fa-angle-double-right"></i>Política de cookies</a></li>
						<li><a href=""
							title="Design and developed by"><i
								class="fa fa-angle-double-right"></i>Resolución de ligios en línea</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i
								class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"
							target="_blank"><i class="fa fa-free-code-camp"></i></a></li>
							<li class="list-inline-item"><a href="javascript:void();"
							target="_blank"><i class="fa fa-wheelchair"></i></a></li>
					</ul>
				</div>
				</hr>
			</div>
			<div class="row">
				<div
					class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p>
						<u><a href="https://www.bootdey.com/">bootdey.com</a></u>
					</p>
					<p class="h6">
						&copy All right Reversed.<a class="text-green ml-2"
							th:href="@{/}" target="_blank">Sunlimetech</a>
					</p>
				</div>
				</hr>
			</div>
		</div>
	</section>
	<!-- ./Footer -->
</body>
</html>