<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" th:href="@{/css/producto/detalle.css}">

</head>
<body>
<!-- 	<div th:insert="fragments/header.html :: header"></div> -->
	<header th:include="fragments/header.html"/>
	
	<div class="container bootdey">
		<div class="col-md-12">
			<section class="panel">
			      <div class="panel-body">
			          <div class="col-md-6">
			              <div class="pro-img-details">
			                  <img th:src="@{/img/producto1.jpg}" alt="">
			              </div>
			              <div class="pro-img-list">
			                  <a href="#">
			                      <img src="https://via.placeholder.com/115x100/87CEFA/000000" alt="">
			                  </a>
			                  <a href="#">
			                      <img src="https://via.placeholder.com/115x100/FF7F50/000000" alt="">
			                  </a>
			                  <a href="#">
			                      <img src="https://via.placeholder.com/115x100/20B2AA/000000" alt="">
			                  </a>
			                  <a href="#">
			                      <img src="https://via.placeholder.com/120x100/20B2AA/000000" alt="">
			                  </a>
			              </div>
			          </div>
			          <div class="col-md-6">
			              <h4 class="pro-d-title">
			                  <a th:href="@{/detalle/{id} (id=${producto.id})}" class="" th:text="${producto.nombre}"></a>
			              </h4>
			              <p th:text="${producto.descripcion}">
			                  default.
			              </p>
			              <div class="product_meta">
			                  <span class="posted_in"> <strong>Categoria:</strong> <a rel="tag" href="#" th:text="${producto.idCategoria}">Jackets</a>.</span>
			                  
			              </div>
			              <div class="m-bot15"> <strong>Precio: </strong> <span class="pro-price" th:text="${producto.precio}+€">00.00€</span></div>
			              <div class="form-group">
			                  <label>Cantidad</label>
			                  <input type="quantiy" placeholder="1" class="form-control quantity">
			              </div>
			              <p>
			              	<a class="btn btn-round btn-danger" th:href="@{/insertar_carro/{id} (id=${producto.id})}" ><i class="fa fa-shopping-cart"></i>  Añadir al carro</a>
			                  
			              </p>
			          </div>
			      </div>
			  </section>
		  </div>
	</div>
	
	
	<div th:insert="fragments/footer.html"></div>
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>