<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Editar producto</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
	<header th:include="fragments/header.html"/>

	<form enctype="multipart/form-data" method="post" class="h4 form-horizontal" th:action="@{/editar/enviar}" th:object="${producto}">
		<fieldset>

			<!-- Form Name -->
			<legend class="h1 center">Editar producto</legend>
			
			<input id="id" name="id" type="hidden" th:value="${producto.id}">
			
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="nombre">Nombre</label>
				<div class="col-md-4">
					<input id="nombre" th:field="*{nombre}" name="nombre" type="text"
						placeholder="" class="form-control input-md" required=""
						th:value="${producto.nombre}">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="nombre">Categoría</label>
				<div class="col-md-4">
					<select id="id_categoria" th:field="*{idCategoria}" name="id_categoria">
						<div th:each="categoria : ${listaCategorias}">
							<option th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
						</div>
					</select>

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="descripcion">Descripción</label>
				<div class="col-md-4">
					<input id="descripcion" name="descripcion" type="text" placeholder=""
						class="form-control input-md" required=""
						th:value="${producto.descripcion}">

				</div>
			</div>

			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="precio">Precio (€)</label>
				<div class="col-md-4">
					<input id="precio" name="precio" type="text" placeholder=""
						class="form-control input-md" required=""
						th:value="${producto.precio}">

				</div>
			</div>
			
			<!-- Text input-->
			<div class="form-group">
				<label class="col-md-4 control-label" for="impuesto">Impuesto</label>
				<div class="col-md-4">
					<input id="impuesto" name="impuesto" type="text" placeholder=""
						class="form-control input-md" required=""
						th:value="${producto.impuesto}">

				</div>
			</div>
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="nombre">Imagen</label>  
			  	<div class="col-md-4">
					<input id="file" name="file" type="file" placeholder="" class="form-control input-md" required="">

			  	</div>
			</div>
			
			<!-- Button -->
			<div class="form-group">
				<label class="col-md-4 control-label" for="singlebutton"></label>
				<div class="col-md-4">
					<button id="singlebutton" name="singlebutton"
						class="btn btn-info btn-lg btn-block">Editar</button>
				</div>
			</div>

		</fieldset>
		
		
	</form>
	
	<footer th:include="fragments/footer.html"></footer>
</body>
</html>