<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" th:href="@{/css/producto/list-productos.css}">

</head>
<body>
<!-- 	<div th:insert="fragments/header.html :: header"></div> -->
	<header th:include="fragments/header.html"/>
	<div class="shop-items">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-sm-6" th:each="producto : ${listaProductos}">
					<!-- Restaurant Item -->
					<div class="item">
						<!-- Item's image -->
						<img class="img-responsive" th:src="@{/img/producto1.jpg}" alt="">
						<!-- Item details -->
						<div class="item-dtls">
							<!-- product title -->
							<h4>
								<a th:href="@{/detalle}" th:text="${producto.nombre}">Lorem product</a>
							</h4>
							<!-- price -->
							<span class="price lblue" th:text="${producto.precio}+€">$00.00</span>
						</div>
						<!-- add to cart btn -->
						<div class="ecom bg-lblue">
							<form>
								<a class="btn" th:href="@{/insertar_carro/{id} (id=${producto.id})}" type="submit">Añadir al carro</a>
							</form>
							
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	
	<div th:insert="fragments/footer.html"></div>
	
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>