<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Productos</title>
</head>
<body>
	<table border="2">
		<tr>
			<th>Id</th>
			<th>ID Categoria</th>
			<th>Nombre</th>
			<th>Descripción</th>
			<th>Precio</th>
			<th>Stock</th>
			<th>Fecha alta</th>
			<th>Fecha baja</th>
			<th>Impuesto</th>
		</tr>
		<tr th:each="pro : ${listaProductos}">
			<td th:text="${pro.id}"></td>
			<td th:text="${pro.idCategoria}"></td>
			<td th:text="${pro.nombre}"></td>
			<td th:text="${pro.descripcion}"></td>
			<td th:text="${pro.precio}"></td>
			<td th:text="${pro.stock}"></td>
			<td th:text="${pro.fechaAlta}"></td>
			<td th:text="${pro.fechaBaja}"></td>
			<td th:text="${pro.impuesto}"></td>
		</tr>

	</table>
</body>
</html>