<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Menu</title>
	</head>
	<body>
<!-- 		<jsp:include page="Header.jsp" flush="false"/> -->
		<h1>MENU PRINCIPAL</h1>
		
		<ul>
			<li><a method="post" th:href="@{usuario/altaUsuario}">Alta usuario</a></li>
			<li><a method="post" href="">Visualizar usuarios</a></li>
			<li><a method="post" href="">Alta rol</a></li>
			<li><a method="post" href="">Visualizar roles</a></li>
			<li><a method="post" href="">Alta categoría</a></li>
			<li><a method="post" href="">Visualizar categorías</a></li>
			<li><a method="post" href="">Alta producto</a></li>
			<li><a method="post" href="">Visualizar productos</a></li>
		</ul>
		
	</body>
</html>